<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:annotation-config />
	<context:mbean-server />
	<context:component-scan base-package="io.smppgateway.controller.auto" />
	<context:mbean-export server="mbeanServer" />

	<!-- SMPP Server configuration is now done via SmppServer.builder() in SmscServer.java -->
	<!-- Default values: port=10001, maxConnections=10, windowSize=20, requestTimeout=30000ms -->
	<bean id="messageIdGenerator" class="io.smppgateway.controller.auto.ResponseMessageIdGeneratorImpl">
		<property name="initialMessageIdValue" value="1" />
	</bean>
	
	<bean id="rateSender" class="io.smppgateway.controller.core.SmscRateSender">
		<property name="messageFactory">
			<bean class="io.smppgateway.controller.message.DeliverSegmentedMessageFactory">
				<property name="numberOfSegments" value="2"></property>
				<property name="destAddressDigits" value="1111"></property>
			</bean>
		</property>
	</bean>
	
</beans>
