apiVersion: v1
kind: ConfigMap
metadata:
  name: smpp-producer-config
  namespace: smpp-producer
  labels:
    app.kubernetes.io/name: smpp-producer
data:
  config.properties: |
    ####### SOURCE MODULE CONFIG #######
    smpp.service.events.queue.size=1000
    smpp.service.events.num.consumers=2
    smpp.service.events.executor.alt.pool.size=1
    smpp.service.events.executor.main.core.pool.size=1
    smpp.service.events.executor.main.maximum.pool.size=4
    smpp.service.events.executor.main.keep.alive.secs=10
    smpp.service.events.executor.main.enable.retries=true
    smpp.service.events.executor.main.monitor.delay.secs=3
    smpp.service.events.name=SMS
    source.smpp.batch.window=1H
    source.smpp.sms.delimiter=,

    smpp.server.delayed.request.timeout.ms=1000
    smpp.server.min.delayed.random.delivery.receipt.scheduler.ms=5000
    smpp.server.delta.random.delivery.receipt.scheduler.ms=5000
    smpp.server.base.sender.send.timeout.ms=1000

    ####### SOURCE BATCH KAFKA CONFIG #######
    source.smpp.kafka.producer.brokers=${KAFKA_BOOTSTRAP_SERVERS}
    source.smpp.kafka.producer.topics=TR_SMPP
    source.smpp.kafka.producer.groupId=KAFKA_GRP_BATCH_SOURCE
    source.smpp.kafka.producer.acks=all
    source.smpp.kafka.producer.retries=3
    source.smpp.kafka.producer.batch.size=16384
    source.smpp.kafka.producer.linger.ms=5
    source.smpp.kafka.producer.buffer.memory=33554432
    source.smpp.kafka.producer.key.serializer=org.apache.kafka.common.serialization.StringSerializer
    source.smpp.kafka.producer.value.serializer=org.apache.kafka.common.serialization.StringSerializer
    source.smpp.kafka.kerberos.enabled=false
    source.smpp.kafka.security.protocol=PLAINTEXT
    source.smpp.kafka.sasl.kerberos.service.name=kafka

    ####### TELEMETRY SOURCE KAFKA CONFIG #######
    telemetry.kafka.producer.brokers=${KAFKA_BOOTSTRAP_SERVERS}
    telemetry.kafka.producer.topics=TR_TELEMETRY
    telemetry.kafka.producer.groupId=KAFKA_GRP_TELEMETRY
    telemetry.kafka.producer.acks=all
    telemetry.kafka.producer.retries=3
    telemetry.kafka.producer.batch.size=16384
    telemetry.kafka.producer.linger.ms=5
    telemetry.kafka.producer.buffer.memory=33554432
    telemetry.kafka.producer.key.serializer=org.apache.kafka.common.serialization.StringSerializer
    telemetry.kafka.producer.value.serializer=org.apache.kafka.common.serialization.StringSerializer
    telemetry.kafka.kerberos.enabled=false
    telemetry.kafka.security.protocol=PLAINTEXT
    telemetry.kafka.sasl.kerberos.service.name=kafka

    ####### METRICS SERVER CONFIG #######
    metrics.server.port=9090

  context.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean id="serverConfiguration0" class="com.cloudhopper.smpp.SmppServerConfiguration">
            <property name="name" value="SmppServerMain"/>
            <property name="port" value="2775"/>
            <property name="bindTimeout" value="5000"/>
            <property name="systemId" value="smppserver"/>
            <property name="autoNegotiateInterfaceVersion" value="true"/>
            <property name="interfaceVersion" value="52"/>
            <property name="maxConnectionSize" value="100"/>
            <property name="nonBlockingSocketsEnabled" value="true"/>
            <property name="defaultWindowSize" value="50"/>
            <property name="defaultWindowWaitTimeout" value="30000"/>
            <property name="defaultRequestExpiryTimeout" value="30000"/>
            <property name="defaultWindowMonitorInterval" value="15000"/>
            <property name="defaultSessionCountersEnabled" value="true"/>
            <property name="jmxEnabled" value="false"/>
        </bean>
    </beans>
