global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'smpp-producer'
    static_configs:
      - targets: ['smpp-producer:9090']
    metrics_path: /metrics
    scrape_interval: 10s
